body
{
    background-image:url("https://image.api.playstation.com/vulcan/ap/rnd/202009/1815/x5w4ggXP3mJMO04lFUadqJDA.jpg");
    background-size: 100%;
    background-attachment:fixed;
    font-family: arial;
}

.titre
{
    font-size: 150%;
    background-color: blueviolet; 
    width:100%;
}



.logos
{
    width:200px;
    float:right;
    text-align:right;
    margin-top: -87px;
}

.lnv
{
    float: right;
    margin-right: 3px;
}

.ffvb
{
    text-align: right;
    float: right;
}
.menu
{
    float: left;
    background-color:blueviolet;
    width: 10%;
    color:aliceblue;
}

a{
    text-decoration: none;
}
a:link {
    color:crimson;
}

a:visited{
    color: crimson;
}

.intro
{
    font-size: 120%;
}
.texte
{
    float: right;
    background-color:rgba(39, 8, 8, 0.5);
    width: 89%;
    color:white;

}

.liste
{
    margin-left: 3%;
}

.paragraphe
{
    margin-top: 5%;
}

.sous-para
{
    margin-top: 3%;
}